/*--- GENERAL STYLES ---*/

body {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'ubuntu','Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
    color: #1a1a1a;
}
.content-section {
    min-height: 49vh;
    padding-top: 40px;
    padding-bottom: 45px;
}
.content-section h1 {
    color: #9C9C9C;
    font-weight: 400;
    font-size: 34px;
    display: inline-block;
}
/*.content-section h1:after {
    content: '';
    display: block;
    border-bottom: 3px solid #4c4c4c;
    padding-top: 3px;
}*/
.content-section p.lead {
    /*font-family: 'Cardo', serif;*/
    font-size: 19px;
    line-height: 1.35em;
    margin-bottom: 25px;
    margin-top: 20px;
}
.content-section p.lead em {
    font-size: 14px;
}
.content-section p em {
    font-size: 14px;
}
.content-section p mark em {
    font-size: inherit;
}
.content-section img.pull-right {
    border: 1px solid #DFDFDF;
    margin-top: 140px;
}

@media screen and (min-width: 768px) {
    .content-section {
        padding-top: 44px;
    }
    .content-section h1 {
        font-size: 38px;
    }
    .content-section p.lead {
        margin-bottom: 30px;
    }
    .about-me {
    display: flex;
}
}
@media screen and (min-width: 992px) {
    .content-section {
        padding-top: 46px;
    }
    .content-section h1 {
        font-size: 42px;
    }
    .content-section h1:after {
        padding-top: 5px;
    }
    .content-section p.lead {
        font-size: 21px;
        margin-bottom: 35px;
    }
}
@media screen and (min-width: 1200px) {
    .content-section {
        padding-top: 50px;
    }
    .content-section h1:after {
        padding-top: 7px;
    }
    .content-section p.lead {
        font-size: 22px;
        margin-bottom: 40px;
    }
}
/*--- NAVBAR ---*/

.navbar-default {
    font-family: 'Montserrat', serif;
    background: #FFFFFF;
    border-bottom-color: #DFDFDF;
    height: 60px;
    margin-bottom: 0;
}
.navbar-header .navbar-toggle {
    margin-top: 12px;
}
.navbar-header .navbar-brand {
    height: 60px;
    padding: 30px 10px 0 10px;
    font-size: 36px;
    line-height: 0px;
    font-weight: 700;
    color: #4c4c4c;
    white-space: nowrap;
}
.navbar-default .navbar-brand:focus {
    color: #111;
}
.navbar-default .navbar-nav {
    background: #FFF;
    margin-top: 0;
}
.navbar-default .navbar-nav>li>a {
    /*color: #222;*/
    padding: 10px;
}
.navbar-default .navbar-nav>li>a.selected {
    color: #E64B36;
}
.navbar-default a.navbar-brand:hover .navbar-default .navbar-nav>li>a:hover {
    background-color: #DFDFDF;
}
/*.navbar-default .navbar-brand:hover {
    color: #E64B36;
}*/
@media screen and (min-width: 768px) {
    .navbar-default {
        height: 100px;
    }
    .navbar-header {
        width: 100%;
    }
    .navbar-header .navbar-brand {
        height: 70px;
        padding: 40px 0 0 15px;
        font-size: 42px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 0px 20px 9px 0;
    }
    .navbar-default .navbar-nav>li>a:hover {
        background-color: transparent;
        color: #E64B36;
    }
}
@media screen and (min-width: 992px) {
    .navbar-default {
        height: 120px;
    }
    .navbar-header .navbar-brand {
        height: 80px;
        padding: 45px 0 0 15px;
        font-size: 48px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 10px 25px 9px 0;
    }
}
/*--- HOME ---*/

#home {
    background: url('cover_photo.jpeg') no-repeat center center fixed;
    opacity: 0.75;
    background-size: cover;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    min-height: 100vh;
}
#home h1 {
    /*font-family: 'Advent Pro', sans-serif;*/
    font-size: 50px;
    color: #000;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 40vh;
    /*line-height: 90px;*/
    /*margin-top: 60px;*/
}
#home h1:after {
    border-bottom: 1px solid #AAA;
}
#home h5 {
    font-size: 16px;
    color: #555;
}
@media screen and (min-width: 768px) {
    #home h1 {
        font-size: 50px;
        /*line-height: 114px;*/
    }
    #home h5 {
        font-size: 19px;
    }
}
@media screen and (min-width: 992px) {
    #home h1 {
        font-size: 56px;
        /*margin-top: 70px;*/
    }
    #home h5 {
        font-size: 21px;
    }
}
@media screen and (min-width: 1200px) {
    #home h1 {
        font-size: 60px;
        /*line-height: 124px;*/
    }
    #home h5 {
        font-size: 24px;
    }
}

  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
